<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Автостоянка.Properties.Settings.АвтостоянкаConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:\Автостоянка.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>