<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Автостоянка.Properties.Settings.АвтостоянкаConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\1\Автостоянка.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>